:root{
--section-height:50vh;
--bg:orange
}
.section{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:var(--bg);
    height:var(--section-height);
}
.section p{
    color:#fff;
}

.section p::before{
    content:'&quot';
    color:black
}

.section p::after{
    content:'&quot';
    color:black
}